* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.fresh {
    position: relative;
    top: 30px;
}
main {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    /* border: 2px solid green; */
    padding: 1px;
}
.grid-cell {
    width: 96px;
    height: 96px;
    border: 1px solid blue;
    margin: 1px;
    line-height: 96px;
    text-align: center;
}
.grid-cell:hover {
    background: black;
}
#whos-turn, #player1-total, #player2-total, #reset-game  {
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 20px;
}
 #reset-game  {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 20px;
}
@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
@keyframes spin2 {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(-360deg);
	}
}